/*Fonts*/

@font-face {
  font-family: 'RobotoRegular';
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBold';
  src: url("./fonts/Roboto/Roboto-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

/*mixin for responsive*/

@mixin media-max($_max-width) {
  @media screen and (max-width: $_max-width) {
    &{ @content; }
  }
}

/* Variables */
$primary-color: #011627; // Couleur principale
$secondary-color: #64FFDA; // Couleur secondaire
$tertiary-color: #ebebeb;
$quaternary-color: #8892B0;

/* Styles généraux */

body {
  font-family: "RobotoRegular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: $primary-color;
  margin: 0;
}


h2, h3 ,p, a, li, img {
  color: $tertiary-color;
  text-decoration: none;
  margin: 0;
}
/* En-tête */
header {
  background-color: $primary-color;
  padding: 1%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 3;
  border-bottom: $tertiary-color solid;



  h1{
    color: $secondary-color;
    margin-left: 50px;
  }

  nav {
    height: 100%;
    width: 80%;
    overflow: hidden;
    transition: overflown 0.5 ease;
    left: 0;    
    @include media-max(768px){
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;

      &.header-nav-dropdown{
      
        overflow:visible;

        #cv-link{
          width: 20%;
          margin-top: 25px;
          margin-bottom: 30px;
          height: 100px;
        }
        ul{
          background-color: $primary-color;
          width: 100%;
          border-bottom: $tertiary-color;
        }
      
      
    }
  }
    

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 100%;
      display: flex;
      justify-content: space-around;
      display: flex;
      justify-content: space-around;
      align-items: center;

      @include media-max(768px) {
        flex-direction: column;
        height: 500%; 
      }

      #cv-link{
        background-color: $secondary-color;
        height: 100%;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        color: $primary-color;
        font-family: "RobotoBold";
      }

      li {
        display: flex;
        height: 80%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        &.active{
          border: $secondary-color solid;
          border-radius: 20px;

          a{
            color: $secondary-color;
          }
        }

        @include media-max(768px) {
          border: none !important;
          width: 100%;
          

          &.active{
            order:-1;
            a{
              color: $tertiary-color;

            }
          }
          a{
            font-size: 2rem;
            width: 100%;
          }
          /*&:nth-child(2){
            display: none;
          }
          &:nth-child(3){
            display: none;
          }
          &:nth-child(4){
            display: none;
          }*/
        }
      }
    }
  }

  #mobile-menu{
    display: none;
    @include media-max(768px){
      display: block;
      color: #ebebeb;
      font-size: 32px;
      position: absolute;
      right: 100px;      
    }
  }
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  aside{
    position: fixed;
    top: 125px;
    height: 90vh;
    width: 8vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    img{
      width: 20%;
      margin: 5%;
    }
    &::after{
      content: '';
      height: 200px;
      width: 1px;
      background-color: $tertiary-color;
    }
  }

  #social-medias-links{
    left: 0;
  }

  #email{
    right:0;
    p{
      transform: rotate(0.25turn);
      margin-bottom: 120px;
    }
  }

  #hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    h2{
      font-size: 64px;
      color: $secondary-color;
      
    }

   
  
    p{
      color: $tertiary-color;
      margin: 0;
      &:nth-of-type(2){
        font-size: larger;
      }
    }

    img{
      height: 300px;
      width: 300px;
      margin-right: 50px;
      margin-top: 50px;
      border: $tertiary-color solid 8px;
      border-radius: 10px;
    }
  }
  section {
    padding: 20px;
    margin-bottom: 30px;
    padding-top:200px;
    width: 60vw;
    min-height: 70vh;
  }

  #a-propos-de-moi{
    #profil{
      display: flex;
      margin-bottom: 50px;
      p{
        margin-right: 10%;
      }
      
    }
    #competences{
      h3{
        text-align: center;
      }
      ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        li{
          text-decoration: none;
          font-size: 64px;
          margin: 10px;
        }
      }
    }
  }

  #projets{
    border: #ebebeb solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;

    h2{
      margin: 20px;

      &:hover{
        cursor: pointer;
      }
    }

    .not-displayed{
      display: none;
    }
    
    .projet{
      width: 300px;
      height: 200px;
      border: #ebebeb solid;
      margin: 10px;
      overflow: hidden;
      border-radius: 10px;
      position: relative;
      img{
        max-width: 100%;
        position: absolute;
        
      }
      &.details{
        img{
          filter: brightness(10%);
          z-index: 0;
        }
        .details{
          position: absolute;
          width: 100%;
          height: 100%;
          right: 0px;
          left: 0px;
          z-index: 1;
          top: 0px;
          color:$secondary-color;
          display: flex;
          justify-content: space-between;
          align-content: center;
          flex-direction: column;
          border: #ebebeb solid;
          p{
            margin: 20px;
          }
          a{
            text-align: center;
            background-color: $secondary-color;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
     
    }
  }

  #contact{
    color: $tertiary-color;
    border: #ebebeb solid;
    form{
      border: #ebebeb solid;
      display: flex;
      flex-direction: column;
      label{
        display: flex;
        flex-direction: column;
        margin: 10px;
      }
      button{
        margin:10px;
      }
    }    
  }
}

/* Sections */


/* Pied de page */
footer {
  background-color: $primary-color;
  padding: 10px;
  color: #fff;
  text-align: center;
  width: 95%;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}
